<manifest xmlns:android="http://schemas.android.com/apk/res/android"
            xmlns:tools="http://schemas.android.com/tools"
        package="maxeem.america.gdg">

    <uses-permission android:name="android.permission.INTERNET" />

    <!-- see https://developer.android.com/training/location/retrieve-current.html -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <!-- skip Play Store filtering on devices without the hardware feature -->
    <uses-feature android:name="android.hardware.location" android:required="false" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:theme="@style/AppTheme"
        tools:ignore="AllowBackup,GoogleAppIndexingWarning"
        android:name="maxeem.america.App"
        android:supportsRtl="true">
        <activity android:name=".MainActivity" android:label="@string/app_title">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>
